/** 
 * @filename    styles.css
 * @brief       ScillyScope styles
 * @author      Sarah Rosanna Busch
 * @version     0.1
 * @date        2 Nov 2025
 */

:root {
    --bg-color: black;
    --fore-color: grey;
}

* {
    box-sizing: border-box;
}

html, body {
	height: 100dvh; /* page sizing that behaves better on mobile */
	margin: 0;
}

body {
	font-family: sans-serif;
	background: var(--bg-color);
	color: var(--fore-color);
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	overflow: hidden;
}

#oscilloscope {
	flex: 1 1 auto;
	height: calc(100dvh - 9vh); /* ensure keyboard + gaps fit */
	background: #222;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2em;
	border-bottom: 2px solid #444;
	overflow: hidden;
}

#scope-screen {
	aspect-ratio: 4 / 3;
	width: 80vw;
	max-width: 640px;
	background: #111;
	border-radius: 12px;
	display: block;
}

#keyboard {
	display: flex;
	flex-wrap: nowrap;
    justify-content: center;
	background: #333;
	flex: 0 0 auto;
	height: 22vh;
	overflow: hidden;
	margin-bottom: env(safe-area-inset-bottom);
    border: 10px solid #333;
}

.key-wrapper {
	position: relative;
	flex: 1 1 0%;
	min-width: 0;
    max-width: 50px;
	overflow: visible;
}

.key {
	display: flex;
	align-items:end;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: white;
	border: 1px solid #999;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
	z-index: 1;
	text-align: center;
	font-size: clamp(12px, 1vw, 18px);
	line-height: normal;
	overflow: hidden;
}

.key.black {
	width: 60%;
	height: 58%;
	background: black;
	position: absolute;
	top: 0;
	right: -25%;
	z-index: 2;
	border: none;
	pointer-events: auto;
}